<nav class="navbar navbar-expand-md bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        Welcome to Foodies
        <% if(currentUser) { %>
          <%= currentUser.username %>!  
        <% } %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/spots">All Spots</a>
          <a class="nav-link" href="/spots/new">Create a Spot</a>
          <% if(!currentUser) { %>
            <a class="nav-link" href="/users/login">Login</a>
            <a class="nav-link" href="/users/register">Register</a>
          <% } else { %>
            <form action="/users/logout" method="POST">
              <button class="nav-link" href="/spots">Logout</button>
            </form>
          <% } %>
        </div>
      </div>
    </div>
  </nav>