<% layout('layouts/boilerplate') %>

<div class="container">
    <div class="row">
        <h1>Add a Foodies Spot!</h1>
        <form class="needs-validation" action="/spots" method="POST" novalidate>
            <div class="mt-3 col-8 col-md-6 m-auto">
                <label for="name" class="form-label">Name</label>
                <input id="name" class="form-control" type="text" name="name" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mt-3 col-8 col-md-6 m-auto">
                <label for="location" class="form-label">Location</label>
                <input id="location" class="form-control" type="text" name="location" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mt-3 col-8 col-md-6 m-auto">
                <label for="cost" class="form-label">Cost</label>
                <input id="cost" class="form-control" type="text" name="cost" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mt-3 col-8 col-md-6 m-auto">
                <label for="imageURL" class="form-label">Image URL</label>
                <input id="imageURL" class="form-control" type="text" name="imageURL" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mt-3 col-8 col-md-6 m-auto">
                <label class="form-label" for="description">Description</label>
                <textarea name="description" class="form-control" placeholder="Leave a comment here" id="description"></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mt-3 mb-5 col-8 col-md-6 m-auto">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>